@import 'tailwindcss';

:root {
  font-size: 1rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --default-font-family: 'Inter', sans-serif;
}
.card-fill-effect {
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.card-fill-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #035a90;
  transition: width 0.4s ease-in-out;
}

.card-fill-effect:hover::before {
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}